<div class="container">
  <div class="greenline">
  <div>
    <div class="navbar-mountains">
      <div class="diamondlogo">
      </div>
      <div class="diamondlogo">
      </div>
      <div class="diamondlogo">
      </div>
      <div class="diamondlogo">
      </div>
      <div class="diamondlogo">
      </div>
    <div>
  <div class="greenline">
  <div>
</div>
